<div ng-controller="AdditionalTableCtrl" ng-class="editable_row_from_addiction_table? 'modal show' : 'modal'">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="reset_editable_row_from_addiction_table();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Редактирование</h4>
        </div>
        <div class="modal-body">
          <entity-table data="addiction_table_parameters">
          </entity-table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reset_editable_row_from_addiction_table();">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
